<div class="text-center">
  <h1>Performetrics</h1>
  <h2>A tool to perform load testing on any REST endpoint</h2>
</div>

<div>
<br>

<!--<h3 class="text-center" style="margin-left:2em">Submit new scenario's for simulation</h3>-->
<div class="text-center">
  <button type="button"
  class="usa-button text-center"
  [attr.aria-expanded]="!isCollapsedContent"
  aria-controls="collapseID"
  (click)="isCollapsedContent = !isCollapsedContent"
  routerLink="/new-simulation"
  > Create Simulation
  </button>
</div>
<br>
<br>
</div>

<h3 class="text-center" style="margin-left:2em">View Results of previous scenarios</h3>
<table class="text-center" style="width:75%;margin-left: 12em;">
  <tr >
    <th >Simulation Name</th>
    <th >Scenario Name</th>
    <th >Processing status</th>
    <th >Simulation Details</th>
  </tr>
  <tr *ngFor="let simulation of simulations" >
    <td >{{simulation.simulationName}}</td>
    <td >{{simulation.scenarioName}}</td>
    <td >{{simulation.processingStatus}}</td>
    <td ><button type="button" class="usa-button text-center" [routerLink]="['/view-details', simulation.id]">Details</button></td>
  </tr>
</table>

<!-- <iframe id="serviceFrameSend" src="../assets/fhsim-2054877255-1595464146715/index.html" width="1500" height="1500"  frameborder="0"></iframe> -->








